<div class="post-detail">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <h1 id="entryTitle" class="entry-title">
            <%- page.title || theme.default_post_title || "Untitled" %>
            <% if (page.subtitle && page.subtitle.length) { %>
            <p><%- page.subtitle %></p>
            <% } %>
          </h1>
          <p class="posted-on">
            <%= page.date.format(config.date_format) %>
          </p>
          <div class="tags-links">
            <% if (page.tags) { %>
            <% page.tags.each(function(tag){ %>
            <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
              #<%- tag.name %>
            </a>
            <% }); %>
            <% } %>
          </div>
        </div>
        <!-- Post Main Content -->
        <div class="entry-content">
          <%- page.content %>
        </div>
      </article>
      <!-- Pre or Next -->

      <div class="nav-links">
        <% if (page.prev) { %>
        <div class="nav-previous nav-link">
          <a href="<%- config.root %><%- page.prev.path %>" rel="prev"><span
            class="meta-arraw meta-arraw-left"></span> <%- page.prev.title %></a>
        </div>
        <% } %>
        <% if (page.next) { %>
        <div class="nav-next nav-link">
          <a href="<%- config.root %><%- page.next.path %>" rel="prev"><%- page.next.title %> <span
            class="meta-arraw meta-arraw-right"></span></a>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Comments -->

  <%- partial('_partial/comment', {
  shortname: config.disqus_shortname
  }) %>
</div>

<script>
  var $title = $('#entryTitle')
  var $window = $(window)
  var $headerH = $('.site-header').height()

  var $copy = $title.clone()
  $copy.appendTo($title.parent())
  $copy.addClass('popup')
  $copy.css({
    width: $title.width(),
    height: $title.height(),
    lineHeight: $title.height() + 'px',
    opacity: 0
  })

  $window.scroll(function () {
    $copy.animate({
      opacity: ($window.scrollTop() - $headerH) / $headerH
    }, 0.6)
    $title.animate({
      opacity: ($headerH - $window.scrollTop()) / $headerH
    }, 0.6)
  })
</script>


