<li class="post">
    <div class="banner-inner" href="">
        <% if (item.photos.length) { %>
        <img src="<%- item.photos[0] %>" alt="<%- item.title %>" class="attachment-post-thumbnail">
        <% } %>
        <h1 class="entry-title">
          <a href="<%- config.root %><%- item.path %>"><%- item.title || theme.default_post_title || "Untitled" %></a>
        </h1>
        <p class="posted-on">
            <%= item.date.format(config.date_format) %>
        </p>
        <% if (item.tags.length) { %>
        <div class="tags-links">
            <% item.tags.each(function(tag){ %>
            <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
                #<%- tag.name %>
            </a>
            <% }); %>
        </div>
        <% } %>
    </div>
</li>
