<li class="post">
  <a href="<%- url_for(item.path) %>">
    <% if (item.cover) { %>
    <div class="cover" style="background-image: url(<%- url_for(item.cover) %>)"></div>
    <% } %>
    <div class="content">
      <h3 class="title">
        <%- item.title %>
      </h3>
      <div class="excerpt">
        <%- item.excerpt %>
      </div>
      <div class="footer">
        <span class="date"><%= item.date.format(config.date_format) %></span>
      </div>
    </div>
  </a>
</li>
