<header class="header">
  <div class="logo">
    <a href="/"><%- config.title %></a>
  </div>
  <div class="avatar">
    <a href="/about/">
      <img src="<%- config.logo || theme.logo %>" alt="<%- config.author %>">
    </a>
  </div>
</header>
<nav class="navbar">
  <ul class="navbar-nav">
    <% var site_navs = config.nav || theme.nav %>
    <% for (var i in site_navs){ %>
    <li>
      <a href="<%- site_navs[i].url ? url_for(site_navs[i].url) : url_for(site_navs[i]) %>">
        <% if (site_navs[i].icon) { %>
        <i class="fa fa-<%= site_navs[i].icon %> fa-stack-2x"></i>
        <% } else { %>
        <%= i %>
        <% } %>
      </a>
    </li>
    <% } %>
  </ul>
  <!-- /.navbar-collapse -->
</nav>
