<% if (page.prev || page.next){ %>
<div class="pager">
  <a class="prev <%- !page.prev && 'disable' %>" href="<%- config.root %><%- page.prev_link %>">← Prev</a>
  <a class="next <%- !page.next && 'disable' %>" href="<%- config.root %><%- page.next_link %>">Next →</a>
</div>
<% } %>
