<% if (page.prev || page.next){ %>
<div class="pager">
  <% if (page.prev) { %>
  <a class="prev <%- !page.prev && 'disable' %>" href="<%- config.root %><%- page.prev_link || page.prev.path %>">
    ← <%- page.prev.title || '上一页' %>
  </a>
  <% } %>
  <% if (page.next) { %>
  <a class="next <%- !page.next && 'disable' %>" href="<%- config.root %><%- page.next_link || page.next.path %>">
    <%- page.next.title || '下一页' %> →
  </a>
  <% } %>
</div>
<% } %>
